doctype    
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(http-equiv='X-UA-Compatible' content='IE=edge')        
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')    
    script(src='/javascripts/jquery-2.0.3.min.js')
    script(src='/javascripts/main.js')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css')
    script(src='/javascripts/modernizr.custom.js')
    title #{title}
  body
    nav.menu#theMenu
      div.menu-wrap
        h1.logo
          a(href='/library') Library
          i.fa.fa-arrow-right.menu-close
          a(href='/resources/DCCRS2013english') CCRS - English
          a(href='/resources/DCCRS2013math') CCRS - Math
          a(href='/resources/DCCRS2013reading') CCRS - Reading
          a(href='/resources/DCCRS2013science') CCRS - Science
          a(href='/resources/DCCRS2013writing') CCRS - Writing                    
          a(href='/') Home
      div#menuToggle: i.fa.fa-bars
    div#headerwrap
      div.container
        div.row
          div.col-lg-8.col-lg-offset-2
            h1 ACT
            h2 Standards Server
            div.spacer
            i.fa.fa-angle-down
     div.container
       div.row.mt
         div.col-lg-10
           h1 Access to human and machine readable ACT standards.
             p ACT provides this area to access published standards.
         div.col-lg-2
           p.pull-right 
             a(href='/library' role='button').btn.btn-green.btn-lg Library
     div#cf
       div.container
         div.row
           div.col-lg-8
             div#mapwrap
               img(src='/images/map1.gif')
           div.col-lg-4
             h4 ADDRESS
                   p
                   p ACT - National Office - Main Campus
                   P P.O. Box 168
                   p Iowa City, IA 52243-0168 USA
                   p 319.337.1000
 
    script(src='/bootstrap/js/bootstrap.min.js')              
    script(src='/javascripts/main-link.js')  
    script(src='/javascripts/masonry.pkgd.min.js')  
    script(src='/javascripts/imagesloaded.js')  
    script(src='/javascripts/classie.js')  
    script(src='/javascripts/AnimOnScroll.js')  
    script
      new AnimOnScroll( document.getElementById( 'grid' ), {
        minDuration : 0.4,
        maxDuration : 0.7,
        viewportFactor : 0.2 });