extends layout
 
block content
    div.container
      div.jumbotron
        h1 #{title}
        p Access to ACT's Published Standards
        p: a(role='button').btn.btn-primary.btn-lg Learn more   
      div.panel.panel-info
        div.panel-heading ACT Standards
        div.panel-body
          p
            table.table.table-striped
              tr
                th Standard Set
                th Subject
                th.filecol HTML
                th.filecol PDF
                th.filecol CSV
                th.filecol RDF
                th.filecol JSON
              tr
                td College Readiness Standards (CRS)
                td 
                td.filecol 
                td.filecol
                td.filecol 
                td.filecol
                td.filecol               
              tr
                td 
                td English
                td.filecol: span.glyphicon.glyphicon-eye-open
                td.filecol: span.glyphicon.glyphicon-file
                td.filecol: span.glyphicon.glyphicon-th
                td.filecol: img(src='/images/rdf.gif') 
                td.filecol: img(src='/images/json.png')
              tr
                td 
                td Mathematics
                td.filecol: span.glyphicon.glyphicon-eye-open
                td.filecol: span.glyphicon.glyphicon-file
                td.filecol: span.glyphicon.glyphicon-th
                td.filecol: img(src='/images/rdf.gif') 
                td.filecol: img(src='/images/json.png')   
               tr
                td 
                td Reading
                td.filecol: span.glyphicon.glyphicon-eye-open
                td.filecol: span.glyphicon.glyphicon-file
                td.filecol: span.glyphicon.glyphicon-th
                td.filecol: img(src='/images/rdf.gif') 
                td.filecol: img(src='/images/json.png')  
               tr
                td 
                td Science
                td.filecol: span.glyphicon.glyphicon-eye-open
                td.filecol: span.glyphicon.glyphicon-file
                td.filecol: span.glyphicon.glyphicon-th
                td.filecol: img(src='/images/rdf.gif') 
                td.filecol: img(src='/images/json.png')  
              tr
                td 
                td Writing
                td.filecol: span.glyphicon.glyphicon-eye-open
                td.filecol: span.glyphicon.glyphicon-file
                td.filecol: span.glyphicon.glyphicon-th
                td.filecol: img(src='/images/rdf.gif') 
                td.filecol: img(src='/images/json.png')                                                       
              tr
                td College and Career Readiness Standards (CCRS)
                td 
                td.filecol 
                td.filecol
                td.filecol 
                td.filecol
                td.filecol               
              tr
                td 
                td English
                td.filecol: span.glyphicon.glyphicon-eye-open
                td.filecol: span.glyphicon.glyphicon-file
                td.filecol: span.glyphicon.glyphicon-th
                td.filecol: img(src='/images/rdf.gif') 
                td.filecol: img(src='/images/json.png')
              tr
                td 
                td Mathematics
                td.filecol: span.glyphicon.glyphicon-eye-open
                td.filecol: span.glyphicon.glyphicon-file
                td.filecol: span.glyphicon.glyphicon-th
                td.filecol: img(src='/images/rdf.gif') 
                td.filecol: img(src='/images/json.png')   
               tr
                td 
                td Reading
                td.filecol: span.glyphicon.glyphicon-eye-open
                td.filecol: span.glyphicon.glyphicon-file
                td.filecol: span.glyphicon.glyphicon-th
                td.filecol: img(src='/images/rdf.gif') 
                td.filecol: img(src='/images/json.png')  
               tr
                td 
                td Science
                td.filecol: span.glyphicon.glyphicon-eye-open
                td.filecol: span.glyphicon.glyphicon-file
                td.filecol: span.glyphicon.glyphicon-th
                td.filecol: img(src='/images/rdf.gif') 
                td.filecol: img(src='/images/json.png')  
              tr
                td 
                td Writing
                td.filecol: span.glyphicon.glyphicon-eye-open
                td.filecol: span.glyphicon.glyphicon-file
                td.filecol: span.glyphicon.glyphicon-th
                td.filecol: img(src='/images/rdf.gif') 
                td.filecol: img(src='/images/json.png')                                                       
      div: footer © 2013 BY ACT, INC.

                                                
  