extends layout
 
block content
    div.container
      div.jumbotron
        h1 #{title}
        p Access to ACT's Published Standards
        p: a(role='button' data-toggle="modal" data-target="#standardsModalInfo").btn.btn-primary.btn-lg Learn more
      div.panel.panel-info
        div.panel-heading ACT Standards
        div.panel-body
          p
            table.table.table-striped
              tr
                th Standard Set
                th Subject
                th.filecol HTML
                th.filecol PDF
                th.filecol CSV
                th.filecol RDF
                th.filecol JSON                                                     
              tr
                td: a(href="http://www.act.org/standard/index.html") College and Career Readiness Standards (CCRS)  
                  span.glyphicon.glyphicon-new-window 
                td 
                td.filecol 
                td.filecol
                td.filecol 
                td.filecol 
                td.filecol               
              tr
                td 
                td: a(href="http://www.act.org/standard/planact/english/index.html") English 
                  span.glyphicon.glyphicon-new-window
                td.filecol: a(href='/resources/DCCRS2013english'): span.glyphicon.glyphicon-eye-open
                td.filecol: a(href='/resources/DCCRS2013english.pdf'): span.glyphicon.glyphicon-file
                td.filecol: a(href='/resources/DCCRS2013english.csv'): span.glyphicon.glyphicon-th
                td.filecol: a(href='/resources/DCCRS2013english.rdf'): img(src='/images/rdf.gif')              
                td.filecol: a(href='/resources/DCCRS2013english.json'): img(src='/images/json.png') 
              tr
                td 
                td: a(href="http://www.act.org/standard/planact/math/index.html") Mathematics 
                  span.glyphicon.glyphicon-new-window
                td.filecol: a(href='/resources/DCCRS2013math'): span.glyphicon.glyphicon-eye-open
                td.filecol: a(href='/resources/DCCRS2013math.pdf'): span.glyphicon.glyphicon-file
                td.filecol: a(href='/resources/DCCRS2013math.csv'): span.glyphicon.glyphicon-th
                td.filecol: a(href='/resources/DCCRS2013math.rdf'): img(src='/images/rdf.gif')                
                td.filecol: a(href='/resources/DCCRS2013math.json'): img(src='/images/json.png')                
               tr
                td 
                td: a(href="http://www.act.org/standard/planact/reading/index.html") Reading 
                  span.glyphicon.glyphicon-new-window                
                td.filecol: a(href='/resources/DCCRS2013reading'): span.glyphicon.glyphicon-eye-open
                td.filecol: a(href='/resources/DCCRS2013reading.pdf'): span.glyphicon.glyphicon-file
                td.filecol: a(href='/resources/DCCRS2013reading.csv'): span.glyphicon.glyphicon-th
                td.filecol: a(href='/resources/DCCRS2013reading.rdf'): img(src='/images/rdf.gif')              
                td.filecol: a(href='/resources/DCCRS2013reading.json'): img(src='/images/json.png')           
               tr
                td 
                td: a(href="http://www.act.org/standard/planact/science/index.html") Science 
                  span.glyphicon.glyphicon-new-window                
                td.filecol: a(href='/resources/DCCRS2013science'): span.glyphicon.glyphicon-eye-open
                td.filecol: a(href='/resources/DCCRS2013science.pdf'): span.glyphicon.glyphicon-file
                td.filecol: a(href='/resources/DCCRS2013science.csv'): span.glyphicon.glyphicon-th
                td.filecol: a(href='/resources/DCCRS2013science.rdf'): img(src='/images/rdf.gif')            
                td.filecol: a(href='/resources/DCCRS2013science.json'): img(src='/images/json.png')               
              tr
                td 
                td: a(href="http://www.act.org/standard/planact/writing/index.html") Writing 
                  span.glyphicon.glyphicon-new-window                
                td.filecol: a(href='/resources/DCCRS2013writing'): span.glyphicon.glyphicon-eye-open
                td.filecol: a(href='/resources/DCCRS2013writing.pdf'): span.glyphicon.glyphicon-file
                td.filecol: a(href='/resources/DCCRS2013writing.csv'): span.glyphicon.glyphicon-th
                td.filecol: a(href='/resources/DCCRS2013writing.rdf'): img(src='/images/rdf.gif')                
                td.filecol: a(href='/resources/DCCRS2013writing.json'): img(src='/images/json.png')                                                                     
      div: footer © 2014 by ACT, Inc. All rights reserved.
      div(tabindex='-1' role='dialog' aria-labelledby='infoModalLabel' aria-hidden='true').modal.fade#standardsModalInfo 
        div.modal-dialog
          div.modal-content
            div.modal-header
              button(type='button' data-dismiss='modal' aria-hidden='true').close &times;
              h4.modal-title#infoModalLabel ACT Standards Info
              div.modal-body
                div Whether you're a parent, teacher, counselor, or student, these sets of statements can help you:
                  ul
                    li communicate widely shared learning goals and educational expectations
                    li relate the test scores to the types of skills needed for success in high school and beyond
                    li understand the increasing complexity of skills across the score ranges in English, Mathematics, Reading, Science, and Writing				  						
                a(href="http://www.act.org/standard/index.html") home 
                  span.glyphicon.glyphicon-new-window 
              div.modal-footer
                button(type='button' data-dismiss='modal').btn.btn-default Cancel
