extends layout
 
block content
    div.container
      div.jumbotron
        h1 #{title}
        p Access to ACT's Published Standards
        p: a(role='button' data-toggle="modal" data-target="#standardsModalInfo").btn.btn-primary.btn-lg Learn more
        p: small Database reports sets: 
          - for (var i in standardsMap) { 
          span #{standardsMap[i].name} 
          - }
      div.panel.panel-info
        div.panel-heading ACT Standards
        div.panel-body
          p
            table.table.table-striped
              tr
                th Standard Set
                th Subject
                th.filecol HTML
                th.filecol PDF
                th.filecol CSV
                th.filecol RDF
                th.filecol JSON                                                     
              tr
                td College and Career Readiness Standards (CCRS)
                td 
                td.filecol 
                td.filecol
                td.filecol 
                td.filecol
                td.filecol               
              tr
                td 
                td English
                td.filecol: a(href='/resources/DCCRS2013english'): span.glyphicon.glyphicon-eye-open
                td.filecol: a(href='/resources/DCCRS2013english.pdf'): span.glyphicon.glyphicon-file
                td.filecol: a(href='/resources/DCCRS2013english.csv'): span.glyphicon.glyphicon-th
                td.filecol: a(href='/resources/DCCRS2013english.rdf'): img(src='/images/rdf.gif') 
                td.filecol: a(href='/resources/DCCRS2013english.json'): img(src='/images/json.png') 
              tr
                td 
                td Mathematics
                td.filecol: a(href='/resources/DCCRS2013mathematics'): span.glyphicon.glyphicon-eye-open
                td.filecol: a(href='/resources/DCCRS2013mathematics.pdf'): span.glyphicon.glyphicon-file
                td.filecol: a(href='/resources/DCCRS2013mathematics.csv'): span.glyphicon.glyphicon-th
                td.filecol: a(href='/resources/DCCRS2013mathematics.rdf'): img(src='/images/rdf.gif') 
                td.filecol: a(href='/resources/DCCRS2013mathematics.json'): img(src='/images/json.png') 
               tr
                td 
                td Reading
                td.filecol: a(href='/resources/DCCRS2013reading'): span.glyphicon.glyphicon-eye-open
                td.filecol: a(href='/resources/DCCRS2013reading.pdf'): span.glyphicon.glyphicon-file
                td.filecol: a(href='/resources/DCCRS2013reading.csv'): span.glyphicon.glyphicon-th
                td.filecol: a(href='/resources/DCCRS2013reading.rdf'): img(src='/images/rdf.gif') 
                td.filecol: a(href='/resources/DCCRS2013reading.json'): img(src='/images/json.png')
               tr
                td 
                td Science
                td.filecol: a(href='/resources/DCCRS2013science'): span.glyphicon.glyphicon-eye-open
                td.filecol: a(href='/resources/DCCRS2013science.pdf'): span.glyphicon.glyphicon-file
                td.filecol: a(href='/resources/DCCRS2013science.csv'): span.glyphicon.glyphicon-th
                td.filecol: a(href='/resources/DCCRS2013science.rdf'): img(src='/images/rdf.gif') 
                td.filecol: a(href='/resources/DCCRS2013science.json'): img(src='/images/json.png') 
              tr
                td 
                td Writing
                td.filecol: a(href='/resources/DCCRS2013writing'): span.glyphicon.glyphicon-eye-open
                td.filecol: a(href='/resources/DCCRS2013writing.pdf'): span.glyphicon.glyphicon-file
                td.filecol: a(href='/resources/DCCRS2013writing.csv'): span.glyphicon.glyphicon-th
                td.filecol: a(href='/resources/DCCRS2013writing.rdf'): img(src='/images/rdf.gif') 
                td.filecol: a(href='/resources/DCCRS2013writing.json'): img(src='/images/json.png')                                                      
      div: footer © 2014 BY ACT, INC.
      div(tabindex='-1' role='dialog' aria-labelledby='infoModalLabel' aria-hidden='true').modal.fade#standardsModalInfo 
        div.modal-dialog
          div.modal-content
            div.modal-header
              button(type='button' data-dismiss='modal' aria-hidden='true').close &times;
              h4.modal-title#infoModalLabel ACT Standards Info
              div.modal-body
                div Place editorial content here about ACT Standards.				  						
              div.modal-footer
                button(type='button' data-dismiss='modal').btn.btn-default Cancel
